<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load define_action %}
</head>
<body>
    {% data_fine menu.data_inizio lista_piatti as df %}
    {% cambia_stato False as is_pranzo %}
    <b style="font-size:50px;"><i>{{ menu.nome }}</i></b>
    <b> DA {{ menu.data_inizio }} A {{df}}</b>
    <ul>
    {% for piatto_menu in lista_piatti %}
        {% if is_pranzo %} <li><b>{{piatto_menu.data_pasto}}</b></li> {% endif %}
        {% if is_pranzo %} PRANZO: {% else %} CENA: {% endif %} {{piatto_menu.piatto.nome}}</br>
        {% cambia_stato is_pranzo as is_pranzo %}
    {% endfor %}
    </ul>
</body>
</html>