{% extends "base.html" %}

{% block head_title%}Lista Piatti{% endblock head_title %}

{% block page_content %}
    <ul>
        {% for object in object_list %}
        <li><b>{{object.0}}</b> <a href="{{object.0.url_ricetta}}">{{object.0.url_ricetta}}</a></li>
        <ul>
            {% for link_ingrediente in object.1%}
                <li>{{ link_ingrediente.ingrediente.nome }} - {{ link_ingrediente.quantita }} {{ link_ingrediente.ingrediente.unita_misura }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
{% endblock page_content %}