{% extends "base.html" %}

{% block head_title %}Lista Ingredienti{% endblock head_title %}

{% block javascript_content %}
<script>
    $(document).ready(function () {
        //..
        $("#formAdd").submit(function ()
        {
            var fields = {};
            $("#formAdd").find(":input").each(function () {
                if (this.name != "")
                {
                    fields[this.name] = $(this).val();
                }
            });
            $.post(
                "addIngrediente/", 
                fields,
                function (data, status)
                {
                    $("#log").text(data);
                }); 
            return false;
        });
    });
</script>
{% endblock javascript_content%}

{% block page_content %}
    <ul id="lista_ingredienti">
        {% for object in object_list %}
            <li>{{object.nome}} - {{object.euro_kg}} euro/kg</li>
        {% endfor %}
    </ul>
    <div class="addIngrediente">
        <form id="formAdd">{% csrf_token %}
            <label for="nome_ingrediente">Nome Ingrediente:</label><br>
            <input type="text" id="nome_ingrediente" name="nome_ingrediente" value=""><br>
            <label for="euro_kg">Euro/Kg:</label><br>
            <input type="number" step="0.1" id="euro_kg" name="euro_kg" value=""><br><br>
            <input type="submit" value="Aggiungi">
        </form>
        <!--<button value="name" onclick="addIngrediente()">+</button>-->
        <p id="log"></p>
    </div>
{% endblock page_content %}